[user]
  name = Evandro Leopoldino Goncalves
  email = evandrolgoncalves@gmail.com
[color]
  status = auto
  branch = auto
  ui = true
[pager]
  color = true
[status]
  color = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  editor = vim
  autocrlf = input
  eol = lf
    pager = less - RFX
[alias]
  st = status
  ci = commit
  br = branch
  ch = checkout
  df = diff
  meld = !git difftool -t meld --dir-diff
  pushfwl = push --force-with-lease
[push]
  default = simple
  autoSetupRemote = true
[credential]
  helper = osxkeychain
[pull]
  rebase = false
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
